// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #588157;
$secondary: #A3B18A;
$clear: #EBDDB1;
$dark : #1F451A;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Time New Roman", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here