@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
    padding: 0 25px;
}


main{
    margin-bottom: 250px;
}

footer.footer {
    padding: 15px;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 16px;

}
p{
    font-family: $font-family-serif ;
    font-size: 18px;
}
.ratio{
    margin: 50px 0 100px;
}
.card_img_top{
    max-width: 200px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px $secondary;
    width: 100px;
    height: 100px;

}
.card{
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
}

.card-img-top{
    max-width: 50px;
    max-height: 50px;
}
